@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #0f0f0f url('https://i.imgur.com/ODakj7W.jpeg') center/cover fixed;
  color: white;
}

/* HEADER */
.store-header {
  text-align: center;
  padding: 60px 20px;
  background: rgba(0,0,0,0.6);
  border-bottom: 4px solid #00ff80;
}

.server-logo {
  width: 120px;
  image-rendering: pixelated;
}

.server-title {
  font-size: 48px;
  color: #00ff80;
  text-shadow: 0 0 10px #00ff80, 0 0 20px #00ff80;
  margin: 10px 0;
}

.server-sub {
  color: #ddd;
  font-size: 18px;
}

/* CATEGORY BUTTONS */
.categories {
  text-align: center;
  margin-top: 25px;
}

.category-btn {
  background: #1b1b1b;
  padding: 12px 20px;
  margin: 5px;
  color: #00ff80;
  border: 2px solid #00ff80;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0 0 10px #00ff80;
  transition: 0.2s;
}

.category-btn:hover {
  background: #00ff80;
  color: black;
  transform: scale(1.05);
}

/* PRODUCT GRID */
.section-title {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  text-shadow: 0 0 10px #00ff80;
}

.product-grid {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  padding: 0 20px;
}

/* PRODUCT CARD */
.product-card {
  background: rgba(15,15,15,0.85);
  border: 3px solid #00ff80;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: 0.2s;
  position: relative;
  box-shadow: 0 0 15px #00ff80;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  image-rendering: pixelated;
}

.product-desc {
  font-size: 14px;
  color: #bbbbbb;
}

.price {
  font-size: 22px;
  font-weight: 700;
  color: #00ff80;
  margin: 10px 0;
}

/* BUY BUTTON */
.buy-btn {
  display: inline-block;
  background: #00ff80;
  padding: 12px 20px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.2s;
}

.buy-btn:hover {
  background: #00ffaa;
  transform: translateY(-3px);
}
